.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.circular-button {
  margin-top: 2rem;
  margin-bottom: 1rem;
  background-color: #212529;
  color: rgba(255, 255, 255, 0.944);
  padding: 1.25rem 2.25rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
}

.circular-button:hover {
  background-color: #2c2c2c;
}

.circular-button-small {
  margin-top: 2rem;
  margin-bottom: 1rem;
  background-color: #212529;
  color: rgba(255, 255, 255, 0.944);
  padding: .25rem 1.25rem;
  font-size: 0.85rem;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
}

.circular-button-small:hover {
  background-color: #2c2c2c;
}

.form-button-close {
  margin-top: 2rem;
  margin-bottom: 1rem;
  background-color: #7c8084;
  color: rgba(255, 255, 255, 0.944);
  padding: .50rem 1.50rem;
  font-size: 0.85rem;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
}

.form-button-close:hover {
  background-color: #73777a;
}

.form-button-action {
  margin-top: 2rem;
  margin-bottom: 1rem;
  background-color: #780000;
  color: rgba(255, 255, 255, 0.944);
  padding: .50rem 1.50rem;
  font-size: 0.85rem;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
}

.form-button-action:hover {
  background-color: #8c0101;
}
