.ex-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.all {
    border-bottom: 1px solid #780000;
}

.exercise-dropdown {
    margin-top: 1em;
    margin-bottom: 1em;

}

.filter-dropdown {
    background-color: #780000;
    margin-left: 1em;
}

.filter-dropdown:hover {
    background-color: #8c0101;
    margin-left: 1em;
}
